:root {
  --primary-red: hsl(10, 79%, 65%);
  --primary-cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --light-brown: hsl(28, 10%, 53%);
  --neutral-cream: hsl(27, 66%, 92%);
  --light-orange: hsl(33, 100%, 98%);
  --white: hsla(0, 0%, 100%, 1);
  --primary-font: 'DM Sans', sans-serif;
}

body {
  font-weight: 400;
  font-family: var(--primary-font);
  background: var(--neutral-cream);
  color: var(--dark-brown);
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.component-container {
  width: 375px;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 600px) {
  .component-container {
    width: 540px;
  }
}

.component__header {
  background-color: var(--primary-red);
  border-radius: 0.5rem;
  padding: 1.25rem;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .component__header {
    padding: 1.75rem 2.5rem 1.5rem 2rem;
    margin-bottom: 1.5rem;
  }
}

.component__header-titles {
  color: var(--white);
}

.component__logo {
  width: 60px;
}

@media (min-width: 600px) {
  .component__logo {
    width: 72px;
  }
}

.component__main {
  background-color: var(--light-orange);
  border-radius: 0.5rem;
  padding: 1.5rem 1.25rem;
}

@media (min-width: 600px) {
  .component__main {
    padding: 2rem 2.5rem 2.5rem;
  }
}

.current-month p:first-of-type,
.previous-month p:last-of-type {
  color: var(--light-brown);
}

hr.divider {
  border: 0;
  border-top: 1px solid var(--neutral-cream);
  border-bottom: 1px solid var(--neutral-cream);
  margin: 1.5rem auto;
}

@media (min-width: 600px) {
  hr.divider {
    margin: 2rem auto;
  }
}

#chart {
  margin-top: 3.25rem;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 0.75rem;
  column-gap: 0.75rem;
}

@media (min-width: 600px) {
  .chart-container {
    -moz-column-gap: 1.125rem;
    column-gap: 1.125rem;
  }
}

.chart-cell__wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.chart-cell__bground {
  margin-bottom: 0.75rem;
  width: 100%;
  border-radius: 0.25rem;
  cursor: pointer;
  position: relative;
}

.chart-cell__bground--default {
  background-color: var(--primary-red);
}

.chart-cell__bground--default:hover {
  background-color: hsla(10, 100%, 76%, 1);
}

.chart-cell_bground--active {
  background-color: var(--primary-cyan);
}

.chart-cell_bground--active:hover {
  background-color: hsla(186, 49%, 80%, 1);
}

.chart-cell__bground:hover::before {
  content: attr(data-amount);
  position: absolute;
  background-color: var(--dark-brown);
  color: var(--neutral-cream);
  font-size: 0.75rem;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  bottom: 100%;
  border-radius: 0.25rem;
}

@media (min-width: 600px) {
  .chart-cell__bground {
    margin-bottom: 0.5rem;
  }

  .chart-cell__bground:hover::before {
    padding: 0.35rem;
    font-size: 0.825rem;
  }
}

.chart-cell__wrapper p {
  color: var(--light-brown);
}

.fm-attribution-row {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.fm-attribution {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
}

.fm-attribution a {
  color: hsl(228, 45%, 44%);
}
