/* Font utilities */
.font-1 {
  font-size: 0.75rem;
}

.font-2 {
  font-size: 0.9375rem;
}

.font-3 {
  font-size: 1.5rem;
}

.font-4 {
  font-size: 1.875rem;
}

@media (min-width: 768px) {
  .font-1 {
    font-size: 0.9375rem;
  }

  .font-2 {
    font-size: 1.125rem;
  }

  .font-3 {
    font-size: 2rem;
  }

  .font-4 {
    font-size: 3rem;
  }
}
