/* Typography */
h1,
h2,
h3,
h4 {
  font-weight: inherit;
}

.font-1 {
  font-size: 0.75rem;
}

.font-2 {
  font-size: 0.9375rem;
}

.font-3 {
  font-size: 1.5rem;
}

.font-4 {
  font-size: 1.875rem;
}

.bold {
  font-weight: 700;
}

@media (min-width: 768px) {
  .font-1 {
    font-size: 0.9375rem;
  }

  .font-2 {
    font-size: 1.125rem;
  }

  .font-3 {
    font-size: 2rem;
  }

  .font-4 {
    font-size: 3rem;
  }
}

/* Alignment */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
